@import "../../styles.scss";

.contacts-board {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  .contacts {
    padding: 2rem 0;
    .bar {
      display: grid;
      grid-template-columns: repeat(3, max-content) 1fr;
      grid-column-gap: 0.8rem;
      align-items: center;
      width: 100%;

      @media screen and (width <= 27.4375em) {
        grid-template-columns: 1fr repeat(2, max-content); ///////////////////////////
      }

      &__icon {
        background-color: rgba(255, 255, 255, 1);
        border: solid 0.5px rgba(146, 161, 173, 0.4);
        border-radius: 0.65rem;
        padding: 0.9rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.412);
        }
      }

      &__button {
        background-color: $yellow-1;
        padding: 0.6rem 1.9rem;
        border-radius: 0.6rem;
        margin-right: auto;
        color: #1c1c28;
        font-size: 1.25rem;
        line-height: 2.4rem; /* 200% */
        box-shadow: $shadow-2;
        cursor: pointer;
        transition: 0.15s ease-in-out;

        @media screen and (width <= 27.4375em) {
          grid-column: 1 / -1; //////////////////////////
          margin-top: 1rem;
        }

        &:hover {
          transform: translateY(-1.5px);
          box-shadow: $shadow-1;
        }
        &:active {
          transform: translateY(0px);
          box-shadow: $shadow-3;
        }
      }
    }
  }

  .search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: $white;
    border-radius: 0.5rem;
    border: solid 0.5px rgba(146, 161, 173, 0.4);
    width: 27rem;
    gap: 0.5rem;
    padding: 0 1rem;

    @media screen and (width <= 27.4375em) {
      width: 100%; //////////////////////////
    }

    &__input {
      background-color: transparent;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 1rem;
      padding: 1rem 0;
      transition: all 0.25s ease-in-out;
      &::placeholder {
        color: rgba(146, 161, 173, 0.4);
        font-size: 1rem;
        font-weight: 400;
      }

      &:focus ~ .search__button {
        margin: 0;
      }
    }

    &__button {
      border: none;
      cursor: pointer;
      margin-right: 1rem;
      transition: 0.2s ease-in-out;

      &:active {
        outline: none;
        transform: scale(0.9);
      }
    }
  }
  ////////////////////////////////////////////////////
  ///////////////////////////////////////////////////
  .contacts-info {
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 1rem;

    @media screen and (width <= 45.5625em) {
      overflow-x: scroll; /////////////////////////////////////////
    }

    .tiles {
      display: grid;
      grid-template-columns: repeat(5, 1fr) max-content;
      border-radius: 0.2rem;
      padding: 0.6rem 0;

      @media screen and (width <= 45.5625em) {
        width: max-content; //////////////////////////////////////////
        padding-left: 3rem; /////////////////////////////////////////////
        grid-template-columns:
          repeat(3, max-content) min-content
          minmax(12rem, auto) max-content;
      }

      &__heading {
        color: #5a5a67;
        width: 100%;
        font-size: 1.03rem;
        font-weight: 400;
        background-color: rgba(224, 227, 233, 0.273);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
      }

      &__item {
        .content {
          &__item {
            display: table;
            text-align: center;
            width: 100%;
            padding: 1rem;
            border-top: 1px solid #e0e3e9;
            height: 4rem;
          }
          &__id {
            color: rgba(153, 161, 183, 1);
            font-family: Poppins;
            font-size: 0.9rem;
            font-weight: 400;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            background-color: $secondary-grey-300;
            padding: 0 0.3rem;
            border-radius: 2.5px;
            cursor: grab;
          }

          &__email {
            color: #1c1c28;
            font-family: Poppins;
            font-size: 0.9rem;
            font-weight: 400;
            display: table-cell;
            vertical-align: middle;
          }

          &__workdays {
            display: inline-flex;
            justify-content: center;
            gap: 0.5rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            // @media screen and (width <= 39.6875em) {
            //   padding-left: 0.9rem;
            //   padding-right: 0.9rem;
            // }

            &--item {
              border-radius: 0.2rem;
              flex-basis: 10%;
              flex-shrink: 0;
              padding: 0.5rem;
              font-family: Neo Sans Arabic;
              font-size: 0.9rem;
              font-style: normal;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &__files {
            display: grid;
            grid-template-columns: max-content 1fr;
            justify-content: space-between;
            align-items: center;
            grid-column-gap: 0.3rem;
            position: relative;

            &--image {
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 0.7rem;
              object-fit: cover;
              transform: translateY(-2.5px);
              // @media screen and (width <= 39.6875em) {
              //   display: none;
              // }
            }
            &--svg {
              width: 2.6rem;
              height: 2.6rem;
              background-color: rgba(7, 115, 222, 0.17);
              border-radius: 0.7rem;
              padding: 0.6rem;
              transform: translateY(-2.5px);
              // @media screen and (width <= 39.6875em) {
              //   display: none;
              // }
            }

            &--name {
              grid-column: 2 / span 1;
              grid-row: 1 / span 1;
              font-family: Neo Sans Arabic;
              font-size: 0.9rem;
              font-weight: 400;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            &--size {
              grid-column: 2 / span 1;
              grid-row: 2 / span 1;
              color: rgba(0, 0, 0, 0.4);
              font-family: Inter;
              font-size: 0.8rem;
              font-weight: 500;
              position: absolute;
              bottom: 0.5rem;
              left: 50%;
              transform: translateX(-50%);
              width: max-content;
            }
          }

          &__name {
            color: #1c1c28;
            font-family: Neo Sans Arabic;
            font-size: 0.9rem;
            font-weight: 400;
            position: relative;
            display: table-cell;
            vertical-align: middle;

            &:hover .content__name--tooltip {
              opacity: 1;
            }

            &:hover .content__name--tip {
              opacity: 1;
            }

            &--tooltip {
              position: absolute;
              color: #fff;
              text-align: center;
              font-family: Neo Sans Arabic;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2rem; /* 133.333% */
              background-color: #1c1c28;
              bottom: 2rem;
              left: 12%;
              width: max-content;
              padding: 0.5rem;
              border-radius: 0.4rem;
              opacity: 0;
              transition: all 0.3s;
              transition-delay: 0.1s;
            }

            &--tip {
              position: absolute;
              bottom: 1.5rem;
              left: 36%;
              border-top: 0.7rem solid #1c1c28;
              border-left: 0.7rem solid transparent;
              border-right: 0.7rem solid transparent;
              opacity: 0;
              transition: all 0.3s;
              transition-delay: 0.1s;
            }
          }

          &__icons {
            height: 4rem;
            position: relative;
            border-top: 1px solid #e0e3e9;
            display: block;
            padding: 1rem 0;

            img {
              display: block;
              position: absolute;
              left: 1rem;
              top: 50%;
              transform: translateY(-50%);

              @media screen and (width <= 39.6875em) {
                width: 0.3rem;
              }
            }
          }
        }
      }

      &__settings {
        position: relative;
        width: 100%;
        background-color: rgba(224, 227, 233, 0.273);
        border-top: 1px solid transparent;
        @media screen and (width <= 39.6875em) {
          border-top: 0;
        }
      }

      &__btn {
        padding: 0.2rem 0.5rem;
        background-color: transparent;
        border: solid 1px transparent;
        cursor: pointer;
        border-radius: 0.4rem;

        @media screen and (width <= 45.5625em) {
          padding: 0.05rem 0.5rem;
        }

        @media screen and (width <= 39.6875em) {
          padding: 0.01rem 0.5rem;
          padding-bottom: 0.1rem;
        }

        svg {
          width: 1.2rem;
          height: 1.2rem;
          fill: grey;
        }

        &:hover {
          border: solid 1px $grey-light-3;
          box-shadow: $shadow-1;
          transition: all 0.15s ease-in-out;
        }

        &:focus {
          background-color: rgba(7, 113, 222, 1);
          border: solid 1px transparent;
        }

        &:focus-within {
          background-color: rgba(7, 113, 222, 1);
          border: solid 1px transparent;
        }

        &:focus svg {
          fill: white;
        }

        &:focus-within svg {
          fill: white;
        }

        &:focus .tiles__dropdown {
          opacity: 1;
          transform: scaleX(1);
          pointer-events: all;
          height: auto;
        }

        &:focus-within .tiles__dropdown {
          opacity: 1;
          transform: scaleX(1);
          pointer-events: all;
          height: auto;
        }
      }

      &__dropdown {
        position: absolute;
        width: 15rem;
        left: 2.5rem;
        top: 1rem;
        background-color: $white;
        box-shadow: $shadow-1;
        padding: 0.3rem;
        transform: scaleX(0);
        opacity: 0;
        pointer-events: none;
        transform-origin: left;
        transition: transform 0.2s ease-in-out;

        &--item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem;
          gap: 0.5rem;
          border-bottom: 0.596px solid #e1e6ee;

          &:last-child {
            border: none;
            padding-bottom: 0;
          }

          input {
            width: 0.8rem;
            height: 0.8rem;
          }
        }
      }
    }
  }
}
