//fonts
$poppins: "Poppins", sans-serif;
$neosans-arabic: "Neo Sans Arabic", sans-serif;
$inter: "Inter", sans-serif;

//colors

$white: #fff;
$white-2: #fffffc;

$black-primary: #2e2e2e;
$black-2: #1c1c28;

$yellow-1: #feee00;

$grey-background: #f6f6f6;
$grey-primary: #b4b4b4;
$secondary-grey-300: #f4f7fe;
$gray-light-2: #3c3939ac;
$grey-light-3: #76778b;

//box shadow

$shadow-1: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
$shadow-2: rgba(113, 111, 111, 0.2) 0 2px 16px 0;
$shadow-3: inset 2px 2px 5px 0 rgba(#fff, 0.5);

:root {
  --grayscale: #292d32;
  --stroke: rgba(224, 227, 233, 1);
}
