/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/neo-sans-arabic");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./assets/scss-utils/variables.scss";
@import "./assets/scss-utils/typography.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $neosans-arabic;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}
